.app-body {
  background: #ff2233;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.app-body-link {
  color: orange;
}
.app-function--nav {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
}
.app-function {
  color: cyan;
  /* font-size: 3em; */
}